/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .site {
    overflow-x: auto !important;
    overflow-y: hidden;
}

.tabtTab {
	display: none;
}
.tabtTab.tabtHeader, .tabtTab.tabActive {
	display: block;
}

.tabtTab .tabttable.wp-list-table {
	margin-bottom: 0px;
}
.tabtTab .tablenav.bottom {
	display: none;
}

.tabtTab.tabtHeader .tabtTabName {
	display: inline-block;
	border: 1px solid #cdcdcd;
	border-radius: 7px 7px 0px 0px;
	padding: 5px 15px;
	background-color: #e6e6e6;
	cursor: pointer;
}

.tabtTab.tabtHeader .tabtTabName.tabActive {
	background-color: #ffffff;
}

.tabtTab.tabtTabContent {
	border: 1px solid #cdcdcd;
	padding: 10px;
}

.tabtMatchDetails .MatchTeams {
	text-align: center;
	font-size: 32px;
	margin-bottom: 10px;
}
.tabtMatchDetails .MatchTeams .MatchTeamsName {
	width: 45%;
	display: inline-block;
	text-align: right;
}
.tabtMatchDetails .MatchTeams .MatchTeamsName:last-child {
	text-align: left;
}
.tabtMatchDetails .MatchScore {
	text-align: center;
	font-size: 24px;
}
.tabtMatchDetails .MatchScore .MatchScorePoints {
	width: 48px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	border: 1px solid #b6b6b6;
	border-radius: 50%;
}
.tabtMatchDetails .MatchInfo {
	text-align: center;
	border-top: 1px dotted #cdcdcd;
	margin-top: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #cdcdcd;
	margin-bottom: 10px;
	padding-bottom: 0px;
}
.tabtMatchPlayers > div {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
}
.tabtMatchPlayers h5 {
	text-align: center;
}
.tabtIndividualMatchResults {
	clear: both;
}
.tabtIndividualMatchResults h5 {
	border-top: 1px dotted #cdcdcd;
	padding-top: 10px;
	text-align: center;
}

.tabtMatchDetails .tabttable.wp-list-table {
	margin-bottom: 0px;
}
.tabtMatchDetails .tablenav.bottom {
	display: none;
}
